/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* font-family: 'Space Grotesk', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

#name-title {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    text-shadow: rgba(112, 112, 112, 0.438) 0.1em 0.1em 0em;
}

#skills-counter {
    text-shadow: rgba(255, 255, 255, 0.342) 0em 0em 0.5em;
}

#skill-icon {
    text-shadow: rgba(112, 174, 255, 0.438) 0em 0em 0.5em;
    margin-right: 0.25em;
}

.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

p,
h5,
h4,
h3,
h2,
h1 {
    pointer-events: none;
}

#feed {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 40em;
}

a:hover {
    color: rgb(112, 174, 255);
    margin-left: 0.05em;
}

#morphing-text {
    font-size: 24px;
    font-weight: bold;
    height: 30px;
}

#morphing-text span {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#morphing-text span.fade {
    opacity: 0;
}

body {
    margin-top: 1em;
    background: linear-gradient(135deg,
            hsl(240, 25%, 14%) 0%,
            hsl(234, 28%, 16%) 20%,
            hsl(228, 31%, 18%) 40%,
            hsl(222, 34%, 20%) 60%,
            hsl(216, 37%, 22%) 80%,
            hsl(210, 40%, 24%) 100%);
    background-attachment: fixed;
    color: #e0e0e0;
}

#main-page {
    overflow-y: hidden;
}

#showcase-page {
    overflow-x: hidden;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


footer {
    flex-shrink: 0;
    background-color: #3333336b;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

a {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    padding: .5em;
    margin-left: -.5em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: margin-left 0.3s ease, color 0.3s ease;

    &:before,
    &:after {
        position: absolute;
        content: '';
        border-bottom: 3px solid rgb(89, 140, 206);
        border-radius: 1em;
        bottom: .3em;
        transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:before {
        width: 1em;
        transform-origin: left;
    }

    &:after {
        width: 82%;
        left: 1em;
        transform: translateX(110%);
    }

    &:hover:before {
        transform: scaleX(0.3);
    }

    &:hover:after {
        transform: translateX(0);
    }

}

.falling-shapes {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    pointer-events: none;
}

.falling-shapes.left {
    left: 0;
}

.falling-shapes.right {
    right: 0;
}

.shape {
    position: absolute;
    width: 20px;
    height: 20px;
    color: rgba(255, 255, 255, 0.13);
    font-size: 20px;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-20px) rotate(0deg);
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}

/* Hide the navbar on screens smaller than 768px (typical tablet width) */
@media screen and (max-width: 1000px) {
    #side-navbar {
        display: none;
    }

    .falling-shapes {
        display: none;
    }
}

.error {
    border-color: red !important;
    box-shadow: 0 0 1em 0.1rem rgba(255, 0, 0, 0.158) !important;
}

.grid-item {
    padding: 10px;
}
.grid-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}